.menu-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.menu-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.menu-exit {
    opacity: 1;
    transform: translateY(0);
}

.menu-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 500ms, transform 500ms;
}


@media (max-width: 768px) {
    .mobile-btn-sidebar{
        display: block  !important;
    }
    #sidebarMenu{
        display: block !important;
    }
    .sidebar ul.nav.flex-column li.nav-item{
        padding: 0 !important;
    }
}
